services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./backend/db_init/init_schema.sql:/docker-entrypoint-initdb.d/init_schema.sql

  backend:
      build:
        context: .
        dockerfile: backend/Dockerfile
      restart: always
      depends_on:
        - db
      env_file:
        - ./backend/.env
      environment:
        - DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}
        - SECRET_KEY=${SECRET_KEY}
        - MODEL_DIR=/app/pipeline/data/models
      ports:
        - "8000:8000"
      volumes:
        - ./pipeline/data:/app/pipeline/data
        - ./backend/app:/app/app

volumes:
  postgres_data:
